.footer{
    background-color: black;
    color: aliceblue;
    display: flex;
    justify-content: space-between;
    height: 350px;
    align-items: center;
    text-align: start;
    width: 100%;

}
.imag{
    height: 40px;
    border-radius: 30px;
    border: none;}
   
a{
    text-decoration: none;

}